<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= raw(@blog.body) %> 

  <!-- note, adding 'raw' is only good if admin inputted info, not for user input. Check out sanitize gem for better security.-->

</p>
<% if current_user && current_user.admin? %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<% end %>
<%= link_to 'Back', blogs_path %>
